:root {
	font-size: 4em;
}

@media (min-width: 600px) {
	:root {
		font-size: 1.6em;
	}
}

body {
	height: 100vh;
	height: 100svh;
	display: grid;
	place-items: center;
	padding: 2em 0;
	overflow-x: hidden;
}
@keyframes gradient {
	100% {
		background-position: right;
	}
}
.background {
	position: absolute;
	inset: 0;
	background-size: 300% 100%;
	animation-name: gradient;
	animation-duration: 16s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	z-index: -1;
	--background-top-left-color: #0ff;
	--background-top-right-color: #000;
	--background-bottom-right-color: #00a;
	--background-bottom-left-color: #f0f;
}

a {
	width: 2rem;
	padding-top: 3rem;
	cursor: pointer;
	display: grid;
	place-content: center;
	filter: invert();
}

nav {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 3rem;
}

a[href*='github'] {
	background: url(./github.svg) no-repeat;
}

a[href*='npm'] {
	background: url(./npm.svg) no-repeat;
}

* {
	box-sizing: border-box;
	font-family: monospace;
	color: #fff;
	margin: 0;
	cursor: default;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

*::selection {
	background: #fff1;
}

.title {
	font-size: 4rem;
	font-weight: 900;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-align: center;
	display: inline;
	--background-top-left-color: #fff;
	--background-top-right-color: #ffb;
	--background-bottom-left-color: #fff;
	--background-bottom-right-color: #fff;
}

button {
	background: #202020;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	padding: 0.5rem;
	width: 45ch;
	cursor: pointer;
	display: grid;
	justify-items: start;
}

button * {
	cursor: pointer;
}
:is(button, a) {
	transition-property: background, box-shadow, color;
	transition: 0.3s;
	color: #ddd;
}
div,
pre,
span {
	color: inherit;
	font-size: inherit;
}
:is(button, a):hover {
	color: #fff;
}

button:hover {
	background-color: #000;
}

button:focus {
	color: #000;
}

span {
	transition: background 0.3s;
}
:focus span {
	background: #fff;
}
